In [3]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True)
    mycursor = mydb.cursor()
    query = "USE FSDS_assignment"
    mycursor.execute(query)
    print(mycursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[]

#### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [4]:
query = "SELECT RTRIM(FIRST_NAME) FROM WORKER"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

           0
0      Krish
1  Sudhanshu
2     Sanket
3     Darius
4    Sathish
5  Shaktiman

#### 2 - Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [5]:
query = "SELECT DISTINCT DEPARTMENT_NAME, LENGTH(DEPARTMENT_NAME) FROM WORKER"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

             0   1
0  Development  11
1           HR   2
2   Accountant  10

#### Q-3. Write an SQL query to fetch nth max salaries from a table.

In [8]:
query = "SELECT B.SALARY, B.FIRST_NAME FROM (SELECT SALARY, FIRST_NAME FROM WORKER ORDER BY SALARY DESC LIMIT 6) B ORDER BY B.SALARY ASC LIMIT 1"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

       0        1
0  30000  Sathish