In [1]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True, database="FSDS_assignment")
    mycursor = mydb.cursor()
except Exception as e:
    mydb.close()
    print(str(e))

#### 17.  Write an SQL query to show the top n (say 10) records of a table.

In [2]:
query = "SELECT * FROM WORKER LIMIT 5"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0          1        2      3                   4            5  \
0  1      Krish     Naik  50000 2014-12-11 09:00:00  Development
1  2  Sudhanshu    Kumar  60000 2014-12-11 09:00:00  Development
2  3     Sanket    Kumar  70000 2014-12-11 09:00:00           HR
3  4     Darius  Bengali  70000 2015-12-13 09:00:00           HR
4  5    Sathish  Bhansal  30000 2017-10-21 09:00:00   Accountant

                           6
0       Krish.Naik@gmail.com
1  Sudhanshu.Kumar@gmail.com
2     Sanket.Kumar@gmail.com
3   Darius.Bengali@gmail.com
4  Sathish.Bhansal@gmail.com

#### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [3]:
query = "SELECT * FROM (SELECT * FROM WORKER ORDER BY SALARY DESC LIMIT 5) A ORDER BY A.SALARY ASC LIMIT 1"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0      1     2      3                   4            5  \
0  1  Krish  Naik  50000 2014-12-11 09:00:00  Development

                      6
0  Krish.Naik@gmail.com