In [2]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True, database="FSDS_assignment")
    mycursor = mydb.cursor()
except Exception as e:
    mydb.close()
    print(str(e))

#### Q-15. Write an SQL query to fetch intersecting records of two tables.

In [3]:
query = "SELECT EMPID, FIRST_NAME, LAST_NAME, DEPARTMENT_NAME, DESIGNATION FROM WORKER W, DESIGNATION D WHERE W.EMPID = D.EMP_REF_ID"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0          1      2            3          4
0  1      Krish   Naik  Development    Manager
1  2  Sudhanshu  Kumar  Development  Executive
2  3     Sanket  Kumar           HR  Executive

#### Q-16. Write an SQL query to show records from one table that another table does not have.

In [4]:
query = "SELECT EMPID, FIRST_NAME, LAST_NAME, DEPARTMENT_NAME, DESIGNATION FROM WORKER W LEFT OUTER JOIN DESIGNATION D ON W.EMPID = D.EMP_REF_ID"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0          1        2            3          4
0  1      Krish     Naik  Development    Manager
1  2  Sudhanshu    Kumar  Development  Executive
2  3     Sanket    Kumar           HR  Executive
3  4     Darius  Bengali           HR       None
4  5    Sathish  Bhansal   Accountant       None
5  6  Shaktiman     Hero   Accountant       None
6  7     Vishnu    Singh   Accountant       None