In [2]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True)
    mycursor = mydb.cursor()
    query = "USE FSDS_assignment"
    mycursor.execute(query)
    print(mycursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[]

#### 1 - Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [7]:
query = "SELECT SUBSTRING(FIRST_NAME,1, 3) AS WORKER_NAME FROM WORKER"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

     0
0  Kri
1  Sud
2  San
3  Dar
4  Sat
5  Sha

#### 2 - Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [9]:
query = "SELECT LOCATE('a', FIRST_NAME) AS WORKER_NAME FROM WORKER"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0
0  0
1  5
2  2
3  2
4  2
5  3

#### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [10]:
query = "SELECT A.DEPARTMENT_NAME, A.FIRST_NAME, A.SALARY FROM WORKER A WHERE A.SALARY = (SELECT MAX(B.SALARY) FROM WORKER B WHERE A.DEPARTMENT_NAME = B.DEPARTMENT_NAME)"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

             0          1      2
0  Development  Sudhanshu  60000
1           HR     Sanket  70000
2           HR     Darius  70000
3   Accountant  Shaktiman  50000