In [1]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True, database="FSDS_assignment")
    mycursor = mydb.cursor()
except Exception as e:
    mydb.close()
    print(str(e))

#### Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [9]:
query = "SELECT * FROM WORKER WHERE FIRST_NAME NOT IN ('KRISH', 'SUDHANSHU')"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0          1        2      3                   4           5
0  3     Sanket    Kumar  70000 2014-12-11 09:00:00          HR
1  4     Darius  Bengali  70000 2015-12-13 09:00:00          HR
2  5    Sathish  Bhansal  30000 2017-10-21 09:00:00  Accountant
3  6  Shaktiman     Hero  50000 2017-12-11 09:00:00  Accountant

#### 2 - Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [5]:
query = "SELECT * FROM WORKER WHERE FIRST_NAME LIKE '%h' and LENGTH(FIRST_NAME) = 5"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0      1     2      3                   4            5  \
0  1  Krish  Naik  50000 2014-12-11 09:00:00  Development

                      6
0  Krish.Naik@gmail.com

#### Q-3. Write a query to validate Email of Employee.

In [6]:
query = "SELECT * FROM WORKER where email not like '%@gmail.com'"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

Empty DataFrame
Columns: []
Index: []