In [10]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True, database="FSDS_assignment")
    mycursor = mydb.cursor()
except Exception as e:
    mydb.close()
    print(str(e))

#### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [7]:
query = "SELECT * FROM WORKER WHERE YEAR(JOINING_DATE) = 2017 AND MONTH(JOINING_DATE) = 10"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0        1        2      3                   4           5  \
0  5  Sathish  Bhansal  30000 2017-10-21 09:00:00  Accountant
1  7   Vishnu    Singh  30000 2017-10-21 09:00:00  Accountant

                           6
0  Sathish.Bhansal@gmail.com
1     Vishnu.Singh@gmail.com

#### 2 - Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [8]:
query = "SELECT * FROM WORKER WHERE (SALARY, DEPARTMENT_NAME) IN (SELECT B.SALARY, B.DEPARTMENT_NAME FROM WORKER B GROUP BY B.SALARY, B.DEPARTMENT_NAME HAVING COUNT(*) > 1)"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0        1        2      3                   4           5  \
0  3   Sanket    Kumar  70000 2014-12-11 09:00:00          HR
1  4   Darius  Bengali  70000 2015-12-13 09:00:00          HR
2  5  Sathish  Bhansal  30000 2017-10-21 09:00:00  Accountant
3  7   Vishnu    Singh  30000 2017-10-21 09:00:00  Accountant

                           6
0     Sanket.Kumar@gmail.com
1   Darius.Bengali@gmail.com
2  Sathish.Bhansal@gmail.com
3     Vishnu.Singh@gmail.com

#### Q-3. How to remove duplicate rows from Employees table.

SELECT * FROM WORKER
  WHERE EMPID NOT IN (
    SELECT * FROM (
      SELECT MIN(EMPID) FROM WORKER 
        GROUP BY FIRST_NAME, LAST_NAME, SALARY, DEPARTMENT_NAME, EMAIL
    )  AS s_alias
  );

In [12]:
query = "DELETE FROM WORKER WHERE EMPID NOT IN (SELECT * FROM (SELECT MIN(EMPID) FROM WORKER GROUP BY FIRST_NAME, LAST_NAME, SALARY, DEPARTMENT_NAME, EMAIL)  AS s_alias); "
mycursor.execute(query)
mydb.commit()
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

Empty DataFrame
Columns: []
Index: []