In [3]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql", use_pure=True, database="FSDS_assignment")
    mycursor = mydb.cursor()
except Exception as e:
    mydb.close()
    print(str(e))

#### Q-13. Write an SQL query to show only odd rows from a table.

In [5]:
query = "SELECT * FROM WORKER WHERE MOD(EMPID,2)=1"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0        1        2      3                   4            5  \
0  1    Krish     Naik  50000 2014-12-11 09:00:00  Development
1  3   Sanket    Kumar  70000 2014-12-11 09:00:00           HR
2  5  Sathish  Bhansal  30000 2017-10-21 09:00:00   Accountant
3  7   Vishnu    Singh  30000 2017-10-21 09:00:00   Accountant

                           6
0       Krish.Naik@gmail.com
1     Sanket.Kumar@gmail.com
2  Sathish.Bhansal@gmail.com
3     Vishnu.Singh@gmail.com

#### 14 - Write an SQL query to clone a new table from another table.

In [8]:
# Cloning without Data

query = "CREATE TABLE WORKER_CLONE1 AS SELECT * FROM WORKER WHERE 1=2"
mycursor.execute(query)

In [11]:
# Cloning with Data

query = "CREATE TABLE WORKER_CLONE2 AS SELECT * FROM WORKER WHERE 1=1"
mycursor.execute(query)

In [12]:
query = "desc WORKER_CLONE1"
mycursor.execute(query)
mycursor.fetchall()

[('empid', b'int', 'NO', '', b'0', ''),
 ('first_name', b'varchar(25)', 'YES', '', None, ''),
 ('last_name', b'varchar(25)', 'YES', '', None, ''),
 ('salary', b'int', 'YES', '', None, ''),
 ('joining_date', b'datetime', 'YES', '', None, ''),
 ('department_name', b'varchar(25)', 'YES', '', None, ''),
 ('email', b'varchar(100)', 'YES', '', None, '')]

In [13]:
query = "SELECT * FROM WORKER_CLONE2 WHERE MOD(EMPID,2)=1"
mycursor.execute(query)
rslt = mycursor.fetchall()
df = pd.DataFrame(rslt)
print(df)

   0        1        2      3                   4            5  \
0  1    Krish     Naik  50000 2014-12-11 09:00:00  Development
1  3   Sanket    Kumar  70000 2014-12-11 09:00:00           HR
2  5  Sathish  Bhansal  30000 2017-10-21 09:00:00   Accountant
3  7   Vishnu    Singh  30000 2017-10-21 09:00:00   Accountant

                           6
0       Krish.Naik@gmail.com
1     Sanket.Kumar@gmail.com
2  Sathish.Bhansal@gmail.com
3     Vishnu.Singh@gmail.com